<%= form_with  model: @post do |form|%>
<div>
<%= form.label :title%>
<%= form.text_field :title%>
</div>

<div>
<%= form.label :body%>
<%= form.rich_text_area :body%>
</div>

 <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.select :category_id, options_for_select(Category.all.order(name: :asc).collect{|cat| [cat.name,cat.id]}) %>
  </div>

   

</div>
  <div class="photos">
  <%= form.label :pics %>
  <%= form.file_field :pics, :multiple => true %>
</div>

<div>
<%= form.submit %>
</div>
<% end %>