<%= form_with  model: @post do |form|%>
<div>
<%= form.label :title%>
<%= form.text_field :title%>
</div>

<div>
<%= form.label :body%>
<%= form.rich_text_area :body%>
</div>
</div>
  <div class="photos">
  <%= form.label :pics %>
  <%= form.file_field :pics, :multiple => true %>
</div>

<div>
<%= form.submit %>
</div>
<% end %>